body {
    font-family: 'Metropolis', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

h1 {
    font-weight: 700;
}

h4 {
    color: rgb(0 163 228);
    font-weight: 600;
}

h5 {
    color: rgb(9 61 125);
    font-weight: 600;
    font-size: 20px;
}

p {
    font-family: 'Metropolis', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.2px;
    color: #797979;
}

/** navigacja **/

.navbar ul {
    padding-left: 0;
}

.navbar li a {
    padding: 25px 5px 0 5px;
    margin: 0;
}

#nav {
    z-index: 9999;
}

#nav.affix {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar .navbar-collapse {
    text-align: center;

}

.navbar-custom {
    margin-bottom: 0;
    background-color: white;
    border-radius: 0px;
    padding: 0px 0;
}

.navbar-custom .navbar-brand {
    font-weight: 600;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #3a3aac;
    font-weight: 700;
}

.navbar-custom .nav li a {
    margin: 5px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: cornflowerblue;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
    color: cornflowerblue;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, .3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

/** Navbar Logo **/

.logo {

    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}



/** mediA NAV **/

@media(min-width:1199px) {

    .navbar ul {
        padding-left: 145px;
    }
    .navbar li a {
        padding: 15px 0 0 0;
        margin: 0;
        color: #3a3aac;
    }
    .navbar-brand {
        padding: 0;
        margin-top: 10px;


    }
}



@media(min-width:992px) and (max-width:1199px) {
    .navbar-custom a {
        color: #3a3aac;
        font-weight: 700;
    }

    .navbar-custom .nav li a {
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-transition: background .3s ease-in-out;


    }
    .navbar ul {
        padding-left: 100px;
    }
    .navbar li a {
        padding: 20px 0 0 20px;
        margin: 0;
    }
}

@media(min-width:768px) and (max-width:991px) {



    .navbar-custom .nav li a {
        margin: 0 -5px;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-transition: background .3s ease-in-out;


    }
    .navbar ul {
        padding-left: 50px;
    }
    .navbar li a {
        padding: 25px 0 0 20px;
        margin: 0;
        font-size: 11px;
    }
}

@media(max-width:767px) {

    .logo {
        float: none;
        margin-top: -60px;

    }

}

/** HEADER **/

.header {
    width: 100%;
    height: 100vh;
    background: url("../img/ZDJ%C4%98CIE%20G%C5%81%C3%93WNE%202.jpg") center top no-repeat;
    background-size: cover !important;
    text-align: center;

    background-attachment: scroll;

}

.header img {
    width: 50px;
    margin-top: 20px;
    padding: 0;

}

.header .img1 {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 120px;
    padding-right: 0;

}

.text {

    text-align: center;
    font-size: 35px;
    background: cornflowerblue;
    margin-left: 0;
    margin-right: 0;

    margin-top: -154px;
    padding: 20px 25px;
    color: white;

}

/** MEDIA HEADER **/

@media(min-width:992px) and (max-width:1199px) {

    .text {

        text-align: center;
        font-size: 29px;
        background: cornflowerblue;
        margin-left: 0;
        margin-right: 0;

        margin-top: -143px;
        padding: 25px 25px;
        color: white;

    }

}

@media(min-width:768px) and (max-width:991px) {

    .text {

        text-align: center;
        font-size: 22px;
        background: cornflowerblue;
        margin-left: 0;
        margin-right: 0;

        margin-top: -112px;
        padding: 20px 20px;
        color: white;



    }


}

@media(max-width:767px) {


    .text {

        text-align: center;
        font-size: 20px;
        background: cornflowerblue;
        margin-left: -15px;
        margin-right: -15px;

        margin-top: -80px;
        padding: 20px 20px;
        color: white;

    }
    .header img {
        width: 50px;
        margin-top: 20px;
        padding: 0;
        margin-right: -15px;
    }

}

/** o nas **/

.about_as {
    padding: 0;
    margin: 0;
}

.about_as .container {

    padding: 0;
}

.about_as .container {

    padding: 0;
}

.about_as h1 {
    margin-top: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: url(../img/PASEK%20NAG%C5%81%C3%93WEK.jpg);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.about_as h4 {
    margin-top: 10px;
    margin-left: 0;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 23px;
}

.about_as ul {
    font-size: 15px;
    margin-left: 0;
    padding-bottom: 10px;
}

.about_as img {
    margin-top: 40px;


}

.about_as .as p {
    text-align: justify;
    padding-bottom: 0;
    text-indent: 30px;
    line-height: 20px;
    font-size: 15px;
}

.about_as p {
    font-size: 15px;
    padding-top: 20px;
    text-align: justify;

}

/** MEDIA o nas **/

@media(max-width:992px) {
    .about_project h1 {
        margin-top: 40px;
        padding-bottom: 10px;
        font-size: 24px;
    }
    .about_project p {
        font-size: 15px;
        padding-top: 20px;
        text-align: justify;
        padding-left: 15px;
        padding-right: 15px;
    }
}


/** usługi **/

.text_img {
    text-align: center;
    padding: 20px 0;
    background: cornflowerblue;
    color: white;
    margin: 0 5px 10px 5px;
}

.services .container {

    padding: 0;
}
.services1{
    height:90vh;
}
.services h1 {
    margin-top: 30px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: url(../img/PASEK%20NAG%C5%81%C3%93WEK.jpg);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

#our_services .container {
    padding: 0 15px;

}
#our_services img{
   
    padding: 0 5px;
}
#our_services .col-md-6 {
    padding: 0;

}

#our_services p {
    font-family: 'Metropolis', sans-serif;
}






/** media usługi **/



@media(max-width:992px) {

    .services h1 {
        margin-top: 30px;
        font-size: 24px;
        margin-bottom: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        background: url(../img/PASEK%20NAG%C5%81%C3%93WEK.jpg);
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
    }

}






@media(max-width:767px) {
    #our_services .container {
        padding: 0;

    }
}







/* okno wyświetlania */

.modal-content {
    border-radius: 0;
}

.modal-header .close {
    font-size: 30px;
}

.modal-title {
    text-transform: uppercase;
    font-size: 23px;
    text-align: center;
}

.modal-body {
    padding: 0;
}

.modal-body p {
    margin: 30px 20px;
    color: #2D2D2D;

}

.modal-works {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    margin: 25px 20px;
}



.modal-header {
    padding-top: 50px;
}


/** urządzenia **/

.equipment .container {

    padding: 0;
}

.equipment .lease {
    width: 200px;
    padding-bottom: 30px;
}

.equipment .author-inner img {
    width: 145px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.equipment .desc img {
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    padding-top: 30px;

}

.equipment .equipment1 p {
    text-align: center;
    padding-bottom: 0;
    padding-top: 40px;
    line-height: 30px;
    font-size: 20px;
    color: rgb(0 163 228);
    font-family: 'Metropolis', sans-serif;
}

.equipment p {
    font-size: 8px;
    font-family: 'Metropolis', sans-serif;
}

.equipment .col-md-6 p {
    padding-top: 20px;
}

.equipment ul li {


    font-size: 12px;
}

.equipment h1 {
    padding-bottom: 50px;
    margin-top: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: url(../img/PASEK%20NAG%C5%81%C3%93WEK.jpg);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.equipment {
    padding-bottom: 50px;
}

.equipment h5 {
    padding: 40px 0
}


/** media urządzenia **/

@media(max-width:991px) {

    .equipment img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;

    }
    .equipment h1 {
        padding-bottom: 50px;
        margin-top: 50px;
        font-size: 24px;
        padding-bottom: 10px;
        padding-top: 10px;
        background: url(../img/PASEK%20NAG%C5%81%C3%93WEK.jpg);
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .equipment p {
        font-size: 15px;
        text-align: center;
    }
    .equipment .col-md-6 p {
        padding-top: 20px;
    }

    .equipment .desc img {
        width: 150px;
    }

    .equipment {
        padding-bottom: 50px;
    }

}

/** akcesoria **/

.author-inner img {
    width: 170px;
}

.accessories .zywica {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.accessories .img-responsive {
    width: 60px;
    padding-top: 100px;
    margin-left: auto;
}

.accessories .cegla {
    margin-right: 190px;

}

.accessories .glowica {
    padding-bottom: 20px;
}

.accessories .szczoty {
    width: 140px;
}

.accessories .desc img {
    width: 150px;
    padding-bottom: 30px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;

}

.accessories h5 {
    padding: 40px 0
}

.accessories h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: url(../img/PASEK%20NAG%C5%81%C3%93WEK.jpg);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.accessories ul li {
    font-size: 12px
}

.accessories .col-md-6 {
    padding-bottom: 40px;
}

.accessories {
    padding-bottom: 20px;
}

.accessories .btn {
    padding: 10px 20px;
}

/** media akcesoria **/

@media(min-width:992px) and (max-width:1199px) {

    .accessories .desc img {
        width: 150px;
        padding-bottom: 30px;
        margin-left: auto;

    }


    .accessories .img-responsive {
        width: 45px;
        padding-top: 20px;
        margin-left: auto;
    }
    .accessories .author-inner img {
        width: 140px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;


    }


}

@media(min-width:768px) and (max-width:991px) {


    .accessories .desc img {
        display: -webkit-box;
        display: -ms-flexbox;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;

    }

    .accessories .img-responsive {
        width: 60px;
        padding-top: 40px;
        margin-right: auto;
    }
    .accessories .author-inner img {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;


    }

    .accessories p {
        font-size: 15px;
        text-align: center;
    }
    .accessories .col-md-6 p {
        padding-top: 20px;
    }



    .accessories {
        padding-bottom: 50px;
    }

}

@media(max-width:767px) {

    .accessories .author-inner img {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;


    }

    .accessories .img-responsive {
        width: 60px;
        padding-top: 40px;
        margin-right: auto;
    }
    .accessories h1 {
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 24px;
        padding-bottom: 10px;
        padding-top: 10px;
        background: url(../img/PASEK%20NAG%C5%81%C3%93WEK.jpg);
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
    }

    .accessories .desc img {
        display: -webkit-box;
        display: -ms-flexbox;
        width: 200px;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;

    }


    .accessories p {
        font-size: 15px;
        text-align: center;
    }
    .accessories .col-md-6 p {
        padding-top: 20px;
    }



    .accessories {
        padding-bottom: 50px;
    }


}

/** certyfikaty **/

.boy img {
    margin-top: -36%;

}

.certifications img {
    width: 45%;


    margin-left: auto;


    padding-top: 90px;

}

.certifications .cert {
    padding-top: 20px;
    width: 60px;
    display: block;
    margin-bottom: -40px;
}

.certifications p {
    text-indent: 30px;
    line-height: 35px;
    text-align: left;
    font-size: 17px;
    color: white;

    font-family: 'Metropolis', sans-serif;
}

.certifications .cer_p {
    text-indent: 0 !important;
    line-height: 20px;

}

.certifications .cer_ul {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
}

.certifications h1 {
    padding-bottom: 20px;
    padding-top: 20px;
    COLOR: white;
    text-align: left;
    letter-spacing: 2px;
    font-family: 'Metropolis', sans-serif;
    font-size: 35px;
}

.certifications {
    background: cornflowerblue;
    height: 50%;

    width: 100%;
    margin-bottom: 50px;
}


/** media certyfikaty **/

@media(min-width:992px)and (max-width:1199px) {
    .certifications {

        height: 60%;
        width: 100%;

    }
    .certifications img {

        height: auto;

        margin-left: auto;
        margin-right: 5%;

        padding-top: 120px;



    }
    .boy img {
        margin-top: -48%;


    }
}


@media(min-width:768px)and (max-width:991px) {
    .certifications {

        height: 85%;
        width: 100%;

    }
    .certifications .col-md-6 img {

        height: auto;
        width: 250px;
        margin-left: auto;
        margin-right: 30%;

        padding-top: 0;




    }
    .certifications img.cert {
        padding-top: 20px;
        width: 60px;
        margin-right: 0;
        z-index: 5555;

    }
    .boy img {
        margin-top: -48%;
        margin-right: 300px;


    }
}


@media (max-width:767px) {
    .certifications {

        height: 85%;
        width: 100%;

    }
    .certifications .col-md-6 .cert {
        padding-top: 20px;
        width: 40px;
        margin-right: 0;



    }
    .certifications p {
        text-indent: 30px;
        line-height: 35px;
        text-align: center;
        font-size: 23px;
        color: white;

        font-family: 'Metropolis', sans-serif;
    }
    .certifications h1 {
        text-align: center;
        font-size: 30px;
    }
    .certifications .col-md-6 img {

        height: auto;
        width: 210px;
        margin-left: auto;
        margin-right: auto;

        padding-top: 10px;
        padding-bottom: 20px;



    }

    .boy img {
        display: none;


    }
}

@media(min-width:266px) and (max-width:432px) {
    .certifications {

        height: 100%;
        width: 100%;

    }
    .certifications p {
        text-indent: 20px;
        line-height: 25px;
        text-align: center;
        font-size: 15px;
        color: white;

        font-family: 'Metropolis', sans-serif;
    }
}

/** kontakt **/

.contact p {
    text-align: justify;
    font-weight: 300;
    line-height: 20px;

}

.contact .col-md-10 p {

    font-size: 12px;

}

.boy2 {
    width: 200px
}


.contact img {
    width: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.contact h1 {
    margin-top: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: url(../img/PASEK%20NAG%C5%81%C3%93WEK.jpg);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.contact-info img {
    padding: 0;
    font-weight: 300;

    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;

    padding: 30px 0;
    width: 150px
}

.contact-info ul {
    padding-bottom: 25px;
}

.contact {
    margin-bottom: 50px;
    width: 100%;
    height: 80%;

}

#contactForm {
    text-align: right;
}



ul.address {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;

}

.contact-info ul li {
    margin-bottom: 5px;
}

.contact-info ul li a {
    color: #212121;
}



.contact h6 {
    font-size: 10px;
    text-align: justify;
    margin-top: 0;
    margin-left: -15px;
    margin-right: -15px;
}


/** media kontakt **/

@media(min-width:768px) and (max-width:991px) {


    .contact img {
        width: 70px;
        padding-top: 0px;
        padding-bottom: 0px;

    }
    .contact-info p {
        text-align: center;
    }
    .contact-info img {
        padding-left: 0;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 30px 0;
        width: 150px
    }
    .contact .col-sm-6 {
        text-align: center;
        width: 100%;


    }
    .contact .col-md-10 p {
        text-align: center;

    }
}

@media(max-width:767px) {


    .contact-info img {
        padding-left: 0;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 30px 0;
        width: 150px
    }
    .contact h6 {
        font-size: 10px;
        text-align: justify;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .contact-info p {
        text-align: center;
    }
    #contactForm {
        margin-left: 10px;
        margin-right: 10px;

        text-align: center;
    }

    .contact .col-sm-6 {
        text-align: center;
        width: 100%;


    }
    .contact .col-md-10 p {
        text-align: center;
        padding-bottom: 10px;

    }
    .contact h1 {

        margin-top: 50px;
        padding-bottom: 10px;
        font-size: 24px;
        padding-top: 10px;
        background: url(../img/PASEK%20NAG%C5%81%C3%93WEK.jpg);
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .contact .col-md-12 {
        padding: 0;
        margin: 0;
    }
    .col-sm-12 {
        margin-left: -10px;
        margin-right: -10px;
    }
}

@media(max-width:426px) {

    .contact p {

        font-weight: 300;
        line-height: 20px;

    }


}

/** COOKIE **/

#cookieinfo * {
    margin: 0px;
    padding: 0px;
}

#cookieinfo {
    position: fixed;
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: #ebebeb;
    ;
    background-size: cover;
    width: 100%;
    padding: 20px;

    z-index: 1000;
}

#cookieinfo h6 {
    font-size: 16px;
    font-weight: bold;
    color: blue;

    margin-bottom: 7px;
    font-family: 'Metropolis', sans-serif;
}

#cookieinfo p {
    font-size: 12px;
    color: blue;
    font-family: 'Metropolis', sans-serif;
    line-height: 1.5em;

}

#cookieinfo a {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    line-height: 22px;
    font-size: 12px;
    color: blue;
    text-align: center;
    text-decoration: none;
    background-color: white;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    font-family: 'Metropolis', sans-serif;
}

#cookieinfo a:hover {
    background-color: blue;
    color: white;
}